@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

.nav-transparent-icon-btn {
  outline: none;
  border: none;
  background-color: transparent;
  width: fit-content;
  height: fit-content;

}

.no-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.main-content-screen {
  background-image: url('../public/assets/mockData/movie/netflix_movie_1.jpeg');
  background-size: cover;
}

.slider-contianer:hover .pagination, .slider-contianer:hover .show-scroll-btn {
  opacity: 1;
}
.scroll-container {
  --show-items: 6;
}
.scroll-card {
  flex: 0 0 calc(100% / var(--show-items));
  max-width: calc(100% / var(--show-items));
  aspect-ratio: 16/9;
  padding: .25rem;
}

@media only screen and (max-width: 1200px) {
  .scroll-container {
    --show-items: 4;
  }
}
@media only screen and (max-width: 900px) {
  .scroll-container {
    --show-items: 3;
  }
}
@media only screen and (max-width: 700px) {
  .scroll-container {
    --show-items: 2;
  }
}

.show-scroll-btn {
  outline: none;
  border: none;
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.767);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease-in-out 200ms;
}
.show-scroll-btn:hover {
  visibility: visible;
  opacity: 1;
}

/* Hover styling */
.shows-card-enter {
  opacity: 0;
  transform: scale(0.6);
}
.shows-card-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 100ms linear;
  transform-origin: bottom;
}
.shows-card-exit {
  opacity: 1;
}
.shows-card-exit-active {
  transform: scale(0.6);
  transition: transform 100ms linear;
}


/* Card button styling */
.card-btn {
  @apply w-10 h-10 flex justify-center items-center border-2 rounded-full border-slate-300 hover:border-slate-100;
}